#avatarContainer {
    width: 100px; /* İstenilen boyuta göre ayarlayın */
    height: 100px; /* İstenilen boyuta göre ayarlayın */
    border-radius: 50%; /* 50% değeri yuvarlak bir şekil oluşturur */
    overflow: hidden; /* İçeriği sınırlı alanda tutar */
}

    #avatarContainer img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Resmi yuvarlak alanda tam olarak gösterir */
    }
